@model PatientAssistance.Models.PatientAssistance

@{
    ViewBag.Title = "New Booking";
}

<h2>Book Hospital Appointment</h2>
<table style="width:100%">
    <tr>
        <th id="illnessTitle">Select an illness:</th>
        <th id="painLevelTitle">Select severity level:</th>
        <th id="hospitalTitle">Our suggested Hospitals:</th>
        @*<th>Waiting Time:</th>*@


    </tr>
    <tr>
        <th>
            <div id="illness" class="dropdown">
                <div class="dropdown-content">
                    @for (int i = 0; i < ViewBag._illnesses.Count; i++)
                    {
                        <a href="#">
                            @ViewBag._illnesses[i].name
                        </a>
                    }
                </div>
            </div>
        </th>
        <th>
            <div class="dropdown">
                <div id="painlevel" class="dropdown-content" onclick="alert(" I'm clicked")">
                    @for (int i = 0; i <= 4; i++)
                    {
                        <a href="#">
                            @i
                        </a>
                    }
                </div>
            </div>
        </th>
        <th>
            <div class="dropdown">
                <div id="hospital" class="dropdown-content">
                    @for (int i = 0; i < ViewBag._hospitals.Count; i++)
                    {
                    <a href="#">
                        @ViewBag._hospitals[i].name  @ViewBag._hospitals[i].totalWaitingTimeInHrs

                    </a>
                    }
                </div>
            </div>

        </th>
        @*<th>
            <div class="dropdown">
                <div class="dropdown-content">
                    @for (int i = 0; i < ViewBag._hospitals.Count; i++)
                    {
                        <a href="#">
                            @ViewBag._hospitals[i].totalWaitingTimeInHrs

                        </a>
                    }
                </div>
            </div>

        </th>*@
    </tr>


    <tr></tr>
</table>
@*<input type="submit" value="Create" class="btn btn-default" />*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.EditorFor(model => model.LevelOfPain, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.AveProcessTime, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.PatientCount, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.WaitingTime, new { htmlAttributes = new { @class = "form-control" } })


    @*<h4>PatientAssistance</h4>
        <h4>PatientAssistance</h4>*@
    @*<hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.LevelOfPain, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LevelOfPain, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LevelOfPain, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HospitalName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AveProcessTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AveProcessTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AveProcessTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PatientCount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatientCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PatientCount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WaitingTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WaitingTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WaitingTime, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/BookAppointment.js")
}
