@model PatientAssistance.Models.PatientAssistance

@{
    ViewBag.Title = "New Booking";
}

<h2>Book Hospital Appointment</h2>
<table style="width:100%">
    <tr>
        <th id="illnessTitle" style="padding-bottom:20px" >Select an illness:</th>
        <th id="painLevelTitle" style="padding-bottom:20px" ></th>
        <th id="hospitalTitle" style="padding-bottom:20px" >Our suggested Hospitals:</th>
    </tr>
    <tr>
        <th>
            <div id="illness" class="dropdown">
                <div class="dropdown-content">
                    @for (int i = 0; i < ViewBag._illnesses.Count; i++)
                    {
                        <a class="illnessclass" data-bind="attr: {name: @ViewBag._illnesses[i].name}">
                            @ViewBag._illnesses[i].name
                        </a>
                    }
                </div>
            </div>
        </th>
        <th>
            <div class="dropdown">
                <div id="painlevel" class="dropdown"></div>
            </div>
        </th>
        <th>
            <div class="dropdown">
                <div id="hospital" class="dropdown-content">
                    @*@for (int i = 0; i < ViewBag._hospitals.Count; i++)
                        {
                            <a href="#">
                                @ViewBag._hospitals[i].name  @ViewBag._hospitals[i].totalWaitingTimeInHrs

                            </a>
                        }*@
                </div>
            </div>

        </th>
    </tr>


    <tr></tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorFor(model => model.LevelOfPain, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        @Html.EditorFor(model => model.AveProcessTime, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        @Html.EditorFor(model => model.PatientCount, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        @Html.EditorFor(model => model.WaitingTime, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })



        @*<div class="form-group">
                <div class="btn btn-primary btn-lg">
                    <input id="btnSubmit" type="submit" value="Book Appointment" />
                </div>
            </div>*@
        <div id="hospitalData" style="display:none"> @Html.Raw(Json.Encode(ViewBag._hospitals))</div>
    </div>
    <div class="btn btn-primary btn-lg btnstyle btn-disabled">
        <input id="btnSubmit" type="submit" value="Book Appointment" />
    </div>
}




@section Scripts
{
    @Scripts.Render("~/Scripts/BookAppointment.js")
    @Scripts.Render("~/bundles/jqueryval")
}

