@model PatientAssistance.Models.PatientAssistance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientAssistance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LevelOfPain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelOfPain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveProcessTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveProcessTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaitingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaitingTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
